body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 5.625rem;
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color:#FF6F91;
}

h2{
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color:#FF6F91;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #D65DB1;
}

.top-containter{
    background-color: #fddede;
    position: relative;
    padding-top: 100px;
}

.pro{
    text-decoration: underline;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;  
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.code-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.plant-img{
    width: 20%;
    float: right;
    margin-left: 30px;
}

.middle-container{

}

.bottom-container{

}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}


.profile{

}
